@using GrandmothersDishes.Models.Enums
@using GrandmothersDishes.Services.Constants
@model GrandmothersDishes.Services.GrandmothersDishes.ViewModels.Drinks.DrinkEditDeleteViewModel

@{
    var error = ViewData[GlobalConstants.ModelDrinkError];
}


@if (error != null)
{
    <div style="background: pink">
        <p class="text-danger text-center">Error Occured: @error</p>
    </div>

}
else
{
    <h1 class="text-center mt-3" style="color: goldenrod">Delete Drink (@Model.Name)</h1>
    <hr class="bg-dark w-50" />
    <form class="mx-auto w-50" method="post" asp-area="Administration" asp-controller="Drinks" asp-action="Delete">

        <div class="row d-flex justify-content-between ">
            <div class="form-group col-md-5">
                <label asp-for="Name"><strong>Name</strong></label>
                <input asp-for="Name" disabled="disabled" placeholder="Name..." class="form-control" name="name">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="Calories"><strong>Calories</strong></label>
                <input asp-for="Calories" type="number" disabled="disabled" step="0.01" min="0" max="9999999" class="form-control" placeholder="Calories..." name="calories">
                <span asp-validation-for="Calories" class="text-danger"></span>
            </div>
        </div>
        <div class="row d-flex justify-content-between">

            <div class="form-group col-md-5">
                <label asp-for="Price"><strong>Price</strong></label>
                <input asp-for="Price" type="number" disabled="disabled" step="0.01" min="0" max="9999999" class="form-control" placeholder="Price..." name="price">
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label asp-for="ImageUrl"><strong>Image Url</strong></label>
                <input asp-for="ImageUrl" disabled="disabled" class="form-control" id="imageUrl" placeholder="Image Url..." name="imageUrl">
                <span asp-validation-for="ImageUrl" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Description"><strong>Description</strong></label>
            <textarea asp-for="Description" disabled="disabled" class="form-control" id="description" rows="4" placeholder="Description..." name="description"></textarea>
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="channel-type-holder mt-4 d-flex justify-content-around">
            <div class="form-group text-center w-50">
                <label asp-for="DrinkType"><strong>Drink Type</strong></label>
                <select asp-for="DrinkType" disabled="disabled" class="form-control" id="DrinkType" name="DrinkType">
                    <option selected disabled="disabled">Select a type..</option>
                    @foreach (var item in Enum.GetValues(typeof(DrinkType)))
                    {
                        <option>@item</option>

                    }

                </select>
                <span asp-validation-for="DrinkType" class="text-danger"></span>
            </div>
        </div>

        <hr class="bg-dark" />
        <div class="button-holder mt-4 d-flex justify-content-center mb-3">
            <button type="submit" class="btn" style="background: goldenrod;color: white">Delete</button>
        </div>
    </form>
}
