@using System.Text.Encodings.Web
@using Microsoft.CodeAnalysis.CSharp.Syntax
<!DOCTYPE html>

<html>

<head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrandmothersDishes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/js/jquery-3.3.1.min.js">
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="~/js/popper.min.js">

</head>

<body>
    <partial name="NavigationPartialView" />

    <partial name="_CookieConsentPartial" />

    <main>
        @RenderBody()
    </main>

    <partial name="FooterPartialView" />



   <partial name="_ValidationScriptsPartial"/>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)


</body>



</html>





