@using Microsoft.CodeAnalysis.CSharp.Syntax
<!DOCTYPE html>

<html>

<head>
    <link href="/favicon.ico" rel="icon" type="image/x-icon" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GrandmothersDishes</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" />

    <link rel="stylesheet" type="text/css" href="~/css/reset-css.css">
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="~/css/style.css">

    <link rel="stylesheet" type="text/css" href="~/js/jquery-3.3.1.min.js">
    <link rel="stylesheet" type="text/css" href="~/js/bootstrap.min.js">
    <link rel="stylesheet" type="text/css" href="~/js/popper.min.js">


</head>

<body>
    <nav class="navbar  navbar-expand-lg navbar-static-top navbar-dark bg-dark mb-0 mt-0">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">GrandmothersDishes</a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarResponsive">
                <div class="container d-flex justify-content-between">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="services.html">Menu</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="contact.html">Contact</a>
                        </li>
                        @if (this.User.IsInRole("Administrator"))
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Foods" asp-action="Create" asp-area="Administration" >Create Dish</a>
                            </li>
                        }
                    </ul>
                    @if (this.User.Identity.IsAuthenticated)
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Home"
                                   asp-action="Index"><img src="https://res.cloudinary.com/dufibvs7r/image/upload/v1544887674/userIcon.png">Hello, @this.User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout">Logout <img src="https://res.cloudinary.com/dufibvs7r/image/upload/v1544887620/logout.png"> </a>
                            </li>
                        </ul>
                    }
                    else
                    {
                        <ul class="navbar-nav">
                            <li class="nav-item">
                                <a class="nav-link" asp-area="Identity" asp-page="/Account/Login"><img src="https://res.cloudinary.com/dufibvs7r/image/upload/v1544887492/LogInIcon.png"> Login</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Register"><img src="https://res.cloudinary.com/dufibvs7r/image/upload/v1544887492/LogInIcon.png"> Register </a>
                            </li>
                        </ul>
                    }
                </div>
            </div>

        </div>
    </nav>


    <partial name="_CookieConsentPartial" />

    <main>
        @RenderBody()
    </main>

    <footer class="page-footer font-small bg-dark pt-4">
        <div class="container-fluid text-center text-md-left">
            <div class="row">
                <div class="col-md-4 mt-md-0 mt-3 ml-2">
                    <h3 class="m-0" style="color: white">Contact us</h3>
                    <p class="mt-2" style="color: white">Email: nikolaydddd@@abv.bg</p>
                    <p style="color: white">Telephone Number: 0895075676</p>
                    <p style="color: white"><a href="https://www.facebook.com/nikolai.dimitrov.77715">Facebook</a></p>

                </div>
          
                <hr class="clearfix w-100 d-md-none pb-3">

                <div class="col-md-4 mb-md-0 mb-3 mr-lg-5">
                    <h3 class="text-center" style="color: white">Food Quotes</h3>
                    <p class="mt-0 text-center text-white">
                        “All you need is love. But a little chocolate now and then doesn't hurt.”
                        - Charles M. Schulz
                    </p>
                    <p class="mt-0 text-center text-white">
                        “I love you like a fat kid loves cake!”
                        - Scott Adams
                    </p>
                    <p class="mt-0 text-center text-white">
                        First we eat, then we do everything else.
                        -M.F.K. Fisher
                    </p>
                </div>
                <div class="col-md-3 mb-md-0 mb-3 ml-lg-5">

                    <div class="container text-center">

                        @if (!this.User.Identity.IsAuthenticated)
                        {
                            <h5 style="color: white">
                                <a asp-area="Identity" asp-page="/Account/Login">Login</a> or <a asp-controller="Account" asp-action="Register">Register</a>
                                to see our most ordered Dishes
                                and order the best food at the best price !
                            </h5>

                            <ul class="list-unstyled mt-3">
                                <li>
                                    <a asp-area="Identity" asp-page="/Account/Login"><strong>Login</strong>, if you have an account!</a>
                                </li>
                                <li>
                                    <a asp-controller="Account" asp-action="Register"><strong>Register</strong>, if you are new in our family!</a>
                                </li>
                            </ul>
                        }
                        else
                        {
                            <h5 style="color: white">
                                Food & Drink
                            </h5>

                            <ul class="list-unstyled mt-3">
                                <li class="mt-1">
                                    <a href="">Wine</a>
                                </li>
                                <li class="mt-1">
                                    <a href="">Beer</a>
                                </li>
                                <li class="mt-1">
                                    <a href="">Beef</a>
                                </li>
                                <li class="mt-1">
                                    <a href="">Pasta</a>
                                </li>
                            </ul>
                        }

                    </div>

                </div>

            </div>


        </div>

        <div class="footer-copyright text-center py-3" style="color: white">
            <p style="color: goldenrod">© 2018 Copyright GrandmothersDishes</p>
        </div>

    </footer>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

    @RenderSection("Scripts", required: false)


</body>



</html>





