@model GrandmothersDishes.Web.ViewModels.Account.RegisterViewModel
@{
    ViewData["Title"] = "Register";
}

<h1 class="text-center p-3">Register</h1>
<hr class="w-25" />
<form asp-controller="Account" asp-action="Register" class="mx-auto w-25" method="post">
    <div class="form-group text-center">
        <label asp-for="Username">Username</label>
        <input asp-for="Username" class="form-control" placeholder="Username...">
    </div>
    <div class="form-group text-center">
        <label asp-for="Password">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Password...">
    </div>
    <div class="form-group text-center">
        <label asp-for="ConfirmPassword">Confirm Password</label>
        <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password...">
    </div>
    <div class="form-group text-center">
        <label asp-for="City">City</label>
        <input asp-for="City" class="form-control" placeholder="City...">
    </div>
    <div class="form-group text-center">
        <label asp-for="HomeAddress">Home Address</label>
        <input asp-for="HomeAddress" class="form-control" placeholder="HomeAddress...">
    </div>
    <div class="form-group text-center">
        <label asp-for="Email">Email</label>
        <input asp-for="Email" class="form-control" placeholder="Email...">
    </div>
    <div class="button-holder d-flex justify-content-center p-3">
        <button type="submit" class="btn bg-dark" style="color: aliceblue">Register</button>
    </div>
</form>

