@using GrandmothersDishes.Models.Enums
@model GrandmothersDishes.Web.Areas.Administration.Models.FoodsViewModels.CreateDishViewModel

<h1 class="text-center text-torshia mt-3" style="color: goldenrod">Create Dish</h1>
<hr class="bg-dark w-50" />
<form class="mx-auto w-50" method="post" asp-area="Administration" asp-controller="Foods" asp-action="Create">
    
    <div class="row d-flex justify-content-between ">
        <div class="form-group col-md-5">
            <label asp-for="Name"><strong>Name</strong></label>
            <input asp-for="Name" placeholder="Name..." class="form-control" name="name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="Calories"><strong>Calories</strong></label>
            <input asp-for="Calories" type="number" step="0.01" min="0" max="9999999" class="form-control" placeholder="Calories..." name="calories">
            <span asp-validation-for="Calories" class="text-danger"></span>
        </div>
    </div>
    <div class="row d-flex justify-content-between">

        <div class="form-group col-md-5">
            <label asp-for="Price"><strong>Price</strong></label>
            <input asp-for="Price" type="number" step="0.01" min="0" max="9999999" class="form-control" placeholder="Price..." name="price">
            <span asp-validation-for="Price" class="text-danger"></span>
        </div>
        <div class="form-group col-md-5">
            <label asp-for="ImageUrl"><strong>Image Url</strong></label>
            <input asp-for="ImageUrl" class="form-control" id="imageUrl" placeholder="Image Url..." name="imageUrl">
            <span asp-validation-for="ImageUrl" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group">
        <label asp-for="Description"><strong>Description</strong></label>
        <textarea asp-for="Description" class="form-control" id="description" rows="4" placeholder="Description..." name="description"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="channel-type-holder mt-4 d-flex justify-content-around">
        <div class="form-group text-center w-50">
            <label asp-for="DishType"><strong>Dish Type</strong></label>
            <select asp-for="DishType" class="form-control" id="DishType" name="DishType">
                <option selected disabled="disabled">Select a type..</option>
                @foreach (var item in Enum.GetValues(typeof(DishType)))
                {
                    <option>@item</option>

                }

            </select>
            <span asp-validation-for="DishType" class="text-danger"></span>
        </div>
    </div>

    <hr class="bg-dark"/>
    <div class="button-holder mt-4 d-flex justify-content-center mb-3">
        <button type="submit" class="btn" style="background: goldenrod;color: white">Create Dish</button>
    </div>
</form>